services:
 db:
  image: postgres:15
  env_file: .env
  environment:
   POSTGRES_DB: ${POSTGRES_DB}
   POSTGRES_USER: ${POSTGRES_USER}
   POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  volumes:
   - ./db/init:/docker-entrypoint-initdb.d
  ports:
   - "5432:5432"

 web:
  build: ./web
  env_file: .env
  environment:
   DB_HOST: db
   DB_USER: ${APP_DB_USER}
   DB_PASS: ${APP_DB_PASS}
   DB_NAME: ${POSTGRES_DB}
  ports:
   - "3000:3000"
  depends_on:
   - db
